<input type="hidden" name="room-id" id="room-id" value="<%= roomId %>" />

<div>
  <h2>Chat</h2>
  <article id="chat-window">
    
  </article>
  <input
    type="text"
    name="message"
    id="message"
    placeholder="Message"
    />
</div>

<template id="chat-message">
    <div class="message">
      <img src="" alt="" />
      <p></p>
    </div>
</template>
