<!DOCTYPE html>
<html lang = "en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE-edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Sign-in Page</title>
        <Link rel="stylesheet" href="/css/landingStyle.css" />
    </head>
    <body>
        <div class="outer-container">
            <form method="post" action="/auth/sign_in">
                <div class="loginBox">
                    <h1 class="headerText"><u><b>Login</b></u></h1>
                    <table class="signForm">
                        <tr>
                            <td>
                                Email:
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label for = "email">
                                    <input type = "email" name = "email" id = email" placeholder = "Email" />
                                </label>
                            </td>
                        </tr>
                        <tr>
                            <td class="spacing">
                                Password:
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label for = "password">
                                    <input
                                        type = "password"
                                        name = "password"
                                        id = "password"
                                        placeholder = "Password" 
                                    />
                                </label>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <button type = "submit" class="loginButton">Login</button>
                            </td>
                        </tr>
                    </table>
                    <p class="center">Dont have an account? <a href="/auth/sign_up">Sign Up</a></p>
                    <p class="center"><a href="#">Forgot Password</a></p>
                </div>
            </form>
        </div>
    </body>
</html>