<!DOCTYPE html>
<html lang = "en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width = device-width, initial-scale=1.0">
    <title>DOCUMENT</title>
</head>
<body>
    Landing Page
    <ul>
        <li><a href="/">Landing</li>
        <li><a href="/auth/sign_up">Sign Up</li>
        <li><a href="/lobby">Lobby</li>
        <li><a href="/games/33">Game 33</li>
    </ul>
</body>
</html>