<!DOCTYPE html>
<html lang = "en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width = device-width, initial-scale=1.0">
    <title>DOCUMENT</title>
</head>
<body>
    <h2>Landing Page</h2>
    <ul>
        <li><a href="/">Landing</a></li>
        <li><a href="/auth/sign_up">Sign Up</a></li>
        <li><a href="/auth/login">Login</a></li>
        <li><a href="/lobby">Lobby</a></li>
        <li><a href="/games/33">Game 33</a></li>
    </ul>
</body>
</html>