<!DOCTYPE html>
<html lang = "en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width = device-width, initial-scale=1.0">
    <title>Login</title>
    <style>
        body{
            background-color: lightblue;
        }
    </style>
</head>
<body>
    <center>
        <form id = "loginInfo">
            <h3><a href="/" style="text-decoration:none">Landing</a></h3> <h2>Login Page</h2>
            <label>Email:</label><br>   
            <input type="text" id="email" name="email" required><br>
            <label>Password:</label><br>
            <input type="text" id="password" name="password" required><br>
            <input type="submit" value="Submit">
        </form>
        <a href="/auth/sign_up">Don't Have an Account? Sign Up</a>
    </center>
</body>
</html>