<html>
    <head>
        <title>Hello</title>
        <link rel="stylesheet" href="../css/home.css" />
    </head>
    <body>
        <% if (name === "John") { %>
            <p>Hello professor!</p>
            <script src=“/js/bundle.js" /> 
        <% } else { %>
            <p>Hello <%= name %></p>
            <script src=“/js/bundle.js" /> 
        <% } %>
    </body>
</html>