<html>
    <head>
        <title>Hello </title>
        <Link rel="stylesheet" href="/css/home.css" />
       
    </head> 

    <body>
        <% if (name === "John") { %>
            <p>Hello Professor!</p>
        <% } else { %>
            <p>Hello <%= name %></p>
        <% } %>

        <img src="/images/gir.jpg" alt="Its the lovable Gir" />
    </body> 
</html>