<!DOCTYPE html>
<html lang = "en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width = device-width, initial-scale=1.0">
    <title>DOCUMENT</title>
</head>
<body>
    Sign Up Page<br><br>
    <form>
        <label>Email:</label><br>   
        <input type="text" id="email" name="email"><br>
        <label>Username:</label><br>
        <input type="text" id="username" name="username"><br>
        <label>Password:</label><br>
        <input type="text" id="password" name="password"><br>
        <label>Confirm Password:</label><br>
        <input type="text" id="confirmPassword" name="confirmPassword"><br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>