body {
  background-color: lightblue;
}

#nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: hidden;
  background-color: #216ec6;
}

#nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.row {
  margin: 0 -5px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.column {
  float: left;
  width: 15%;
  padding: 0 10px;
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

.card {
  padding: 16px;
  text-align: center;
  background-color: rgb(96, 173, 199);
}

.top-grid {
  width: 100%;
  margin-top: 1rem;
  font-size: x-large;
}

.top-grid td{
  text-align: center;
  width: 33.33%;
}

.game-container {
  margin: auto;
  width: 90%;
  padding-top: 2rem;
  display: flex;
  gap: 100px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.game-cards {
  background-color: grey;
  border-radius: 25px;
  color: white;
  height: 150px;
  width: 150px;
}

.center {
  text-align: center;
}

.button-center {
  margin-top: 55%;
  margin-left: 25%;
}

.line {
  background-color: black;
  width: 80%;
  height: 5px;
  margin: auto;
}

.nogame-text {
  margin-top: 2rem;
  text-align: center;
}