.center {
    text-align: center;
}

.outer-container {
    height: 50vh;
    width: 50vh;
    margin: auto;
}

.loginBox {
    height: 100%;
    margin: auto;
}

.headerText {
    text-align: center;
}

.signForm {
    width: 100%;
    height: 20%;
    text-align: center;
    
}

.loginButton {
    align-self: center;
}

.spacing {
    padding-top: 20px;
}